<div class="oh-modal__dialog-header">
  <h2 class="oh-modal__dialog-title" id="biometricDeviceLavel">
    {% trans "Add Biometric Device" %}
  </h2>
  <button class="oh-modal__close" aria-label="Close">
    <ion-icon name="close-outline"></ion-icon>
  </button>
  <div class="oh-modal__dialog-body p-0 pt-2" id="biometricDeviceModalBody">
    <form
      hx-post="{%url 'biometric-device-add' %}"
      hx-target="#BiometricDeviceFormTarget"
      id="biometricDeviceForm"
      >
      {% csrf_token %}
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="oh-input-group">
          <label class="oh-label">{% trans "Name" %}</label>
          {{biometric_form.name}}
        </div>
        <div class="oh-input-group">
          <label class="oh-label">{% trans "Machine IP" %}</label>
          {{biometric_form.machine_ip}}
        </div>
        <div class="oh-input-group">
          <label class="oh-label">{% trans "Port No" %}</label>
          {{biometric_form.port}}
        </div>
      </div>
      <div class="oh-dropdown__filter-footer">
        <button class="oh-btn oh-btn--secondary oh-btn--small w-100">
          {% trans "Save" %}
        </button>
      </div>
    </form>
  </div>
</div>
