{% load i18n %}{% load static %}
<section class="oh-main__topbar" x-data="{searchShow: false}">
  <div class="oh-main__titlebar oh-main__titlebar--left">
    <div
      class="oh-main__titlebar-title fw-bold mb-0 text-dark"
    >
      {% trans "Biometric Devices" %}
    </div>
    <a
      class="oh-main__titlebar-search-toggle"
      role="button"
      aria-label="Toggle Search"
      @click="searchShow = !searchShow"
    >
      <ion-icon
        name="search-outline"
        class="oh-main__titlebar-serach-icon"
      ></ion-icon>
    </a>
  </div>

  <div class="oh-main__titlebar oh-main__titlebar--right">
    <div
      class="oh-input-group oh-input__search-group"
      :class="searchShow ? 'oh-input__search-group--show' : ''"
    >
      <ion-icon
        name="search-outline"
        class="oh-input-group__icon oh-input-group__icon--left"
      ></ion-icon>
      <input
        type="text"
        hx-get="{% url 'search-devices' %}"
        placeholder="{% trans 'Search' %}"
        id="devices-search"
        name="search"
        hx-trigger="keyup changed delay:.2s"
        hx-target="#section"
        class="oh-input oh-input__icon"
        hx-vals='{"view":"{{request.GET.view}}"}'
        aria-label="Search Input"
      />
    </div>
    {% comment %} <ul class="oh-view-types ml-2" style="margin-bottom: 0" id="view-type">
      <li class="oh-view-type devices-view-type" data-view="list">
        <a id = 'list' hx-get="{% url 'search-devices' %}?view=list"
          hx-target='#section' title = {% trans "List" %} 
          class="oh-btn oh-btn--view {% if request.GET.view == 'list' %}
                oh-btn--view-active {% endif %}" 
          >
          <ion-icon name="list-outline"></ion-icon>
        </a>
      </li>
      <li class="oh-view-type devices-view-type" data-view="card">
        <a id="card" hx-get="{% url 'search-devices' %}?view=card"
          hx-target='#section' class="oh-btn oh-btn--view 
          {% if request.GET.view != 'list' %} oh-btn--view-active {% endif %}" 
          title = {% trans "Card" %}
          >
          <ion-icon name="grid-outline"></ion-icon>
        </a>
      </li>
    </ul> {% endcomment %}
    <div class="oh-main__titlebar-button-container">
      {% comment %} <div class="oh-btn-group ml-2">
        <div class="oh-dropdown" x-data="{open: false}">
          <button
            class="oh-btn oh-btn--dropdown oh-btn oh-btn--shadow"
            @click="open = !open"
            @click.outside="open = false"
          >
            {% trans "Actions" %}
          </button>
          <div
            class="oh-dropdown__menu oh-dropdown__menu--right"
            x-show="open"
            style="display: none"
          >
            <ul class="oh-dropdown__items">
              {% if perms.delete_candidates %}
              <li class="oh-dropdown__item">
                <a href="#" class="oh-dropdown__link" id="archiveDevices"
                  >{% trans "Archive" %}</a
                >
              </li>
              {% endif %} {% if perms.delete_candidates %}
              <li class="oh-dropdown__item">
                <a href="#" class="oh-dropdown__link" id="unArchiveDevices"
                  >{% trans "Un-Archive" %}</a
                >
              </li>
              {% endif %} {% if perms.delete_candidates %}
              <li class="oh-dropdown__item">
                <a
                  href="#"
                  class="oh-dropdown__link oh-dropdown__link--danger"
                  id="deleteDevices"
                  >{% trans "Delete" %}</a
                >
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div> {% endcomment %}
      <div class="oh-btn-group ml-2">
        <div class="oh-dropdown">
          {% if perms.recruitment.add_candidate %}
            <a
          href="#"
          class="oh-btn oh-btn--secondary"
          id="attendance-biometric"
          data-toggle="oh-modal-toggle"
          data-target="#biometricDevice"
          >
            <ion-icon name="add-sharp" class="mr-1"></ion-icon>{% trans "Add" %}
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<div
  class="oh-modal"
  id="biometricDevice"
  role="dialog"
  aria-labelledby="biometricDevice"
  aria-hidden="true"
 >
  <div class="oh-modal__dialog">
    <div class="oh-modal__dialog-header">
      <h2 class="oh-modal__dialog-title" id="biometricDeviceLavel">
        {% trans "Add Biometric Device" %}
      </h2>
      <button class="oh-modal__close" aria-label="Close">
        <ion-icon name="close-outline"></ion-icon>
      </button>
      <div
        class="oh-modal__dialog-body p-0 pt-2"
        id="biometricDeviceModalBody"
      >
        <form
          hx-post="{%url 'biometric-device-add' %}"
          id="biometricDeviceForm"
        >
          {% csrf_token %}
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="oh-input-group">
              <label class="oh-label">{% trans "Name" %}</label>
              {{biometric_form.name}}
            </div>
            <div class="oh-input-group">
              <label class="oh-label">{% trans "Machine IP" %}</label>
              {{biometric_form.machine_ip}}
            </div>
            <div class="oh-input-group">
              <label class="oh-label">{% trans "Port No" %}</label>
              {{biometric_form.port}}
            </div>
          </div>
          <div class="oh-dropdown__filter-footer">
            <button class="oh-btn oh-btn--secondary oh-btn--small w-100">
              {% trans "Save" %}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>