{% load i18n %}
<div class="oh-modal__dialog-header">
  <h2 class="oh-modal__dialog-title" id="scheduleDeviceLavel">
    {% trans "Schedule Biometric Device" %}
  </h2>
  <button class="oh-modal__close" aria-label="Close">
    <ion-icon name="close-outline"></ion-icon>
  </button>
  <div class="oh-modal__dialog-body p-0 pt-2" id="scheduleDeviceModalBody">
    <form
      id="biometricDeviceScheduleForm"
      hx-post="{% url 'biometric-device-schedule' device_id %}"
      hx-target="#BiometricDeviceFormTarget"
    >
      {% csrf_token %}
      <div class="col-sm-12 col-md-12 col-lg-12">
        {{scheduler_form.scheduler_duration.errors}}
        <label class="oh-label">{% trans "Interval duration" %}</label>
        <div class="oh-input-group">{{scheduler_form.scheduler_duration}}</div>
      </div>
      <div class="oh-dropdown__filter-footer">
        <button
          class="oh-btn oh-btn--secondary oh-btn--small w-100"
          type="submit"
        >
          {% trans "Schedule" %}
        </button>
      </div>
    </form>
  </div>
</div>

<script>
  $("#biometricDeviceScheduleForm").submit(function (event) {
    $("#BiometricDeviceTestModal").toggleClass("oh-modal--show");
    $("#BiometricDeviceModal").removeClass("oh-modal--show");
  });
</script>
