{% extends 'index.html' %} {% block content %} {% load static %} {% load i18n %}
<div class="oh-wrapper">
  {% include 'attendance/biometric/nav_biometric_devices.html' %}
  <div
    class="oh-checkpoint-badge mb-2"
    id="selectedDevices"
    data-ids="[]"
    data-clicked=""
    style="display: none"
  ></div>

  <div class="d-flex flex-row-reverse">
    <span
      class="m-3"
      onclick="$('[name=hired]').val('false'); $('[name=hired]').first().change(); $('.filterButton').click()"
      style="cursor: pointer"
    >
      <span
        class="oh-dot oh-dot--small me-1"
        style="background-color: red"
      ></span>
      {% trans "Not-Connected" %}
    </span>
    <span
      class="m-3"
      onclick="$('[name=canceled]').val('true');$('[name=canceled]').first().change(); $('.filterButton').click()"
      style="cursor: pointer"
    >
      <span
        class="oh-dot oh-dot--small me-1"
        style="background-color: rgb(103, 171, 238)"
      ></span>
      {% trans "Scheduled" %}
    </span>
    <span
      class="m-3"
      onclick="$('[name=canceled]').val('true');$('[name=canceled]').first().change(); $('.filterButton').click()"
      style="cursor: pointer"
    >
      <span
        class="oh-dot oh-dot--small me-1"
        style="background-color: orange"
      ></span>
      {% trans "Live Capture" %}
    </span>
  </div>
  <div id="section" hx-target="#section" hx-swap="innerHTML">
    {% if devices %} 
      {% comment %} {% if view_type == 'list' %} 
        {% include 'attendance/biometric/list_biometric_devices.html' %} 
      {% else %}  {% endcomment %}
        {% include 'attendance/biometric/card_biometric_devices.html' %} 
      {% comment %} {% endif %} {% endcomment %}
    {% else %} 
      {% include 'attendance/biometric/empty_view_biometric.html' %} 
    {% endif %}
  </div>
  <div
    class="oh-modal"
    id="BiometricDeviceModal"
    role="dialog"
    aria-labelledby="BiometricDeviceModal"
    aria-hidden="true"
    >
    <div
      class="oh-modal__dialog"
      style="max-width: 550px"
      id="BiometricDeviceFormTarget"
      >
    </div>
  </div>
  <div
    class="oh-modal"
    id="BiometricDeviceTestModal"
    role="dialog"
    aria-labelledby="BiometricDeviceTestModal"
    aria-hidden="true"
    >
    <div
      class="oh-modal__dialog"
      style="max-width: 550px"
      id="BiometricDeviceTestFormTarget"
      >
      <div class="oh-modal__dialog-header">
        <h2 class="oh-modal__dialog-title" id="BiometricDeviceTestLavel">
          {% trans "Trying to connect" %}
        </h2>
      </div>
      <div class="oh-modal__dialog-body p-0 pt-2" id="BiometricDeviceTestModalBody">
        <div
            class="oh-modal__dialog-body mr-5"
            id="uploading"
          >
            <div class="loader-container">
              <div class="loader"></div>
              <div class="loader-text">{% trans "Connecting..." %}</div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
