{% extends 'index.html' %} {% block content %} {% load static %} {% load i18n %}
<div class="oh-wrapper">
  {% include 'attendance/biometric/nav_employees_biometric.html' %}
  <div id="section">
      {% include 'attendance/biometric/list_employees_biometric.html' %} 
  </div>
  <div class="oh-modal" id="BiometricDeviceModal" role="dialog" aria-labelledby="BiometricDeviceModal" aria-hidden="true">
    <div class="oh-modal__dialog " style="max-width: 550px;" id="BiometricDeviceFormTarget"></div>
  </div>
</div>
{% endblock %}
